.todo-title {
  color: rgba(175, 47, 47, .15);
  font-size: 80px;
  font-weight: 200;
  position: absolute;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  top: -75px;
  width: 100%;
  margin: 0;
}