.task__item {
  font-size: 24px;
  height: 60px;
  position: relative;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  position: relative;
}

.task__item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  padding: 15px 85px 15px 60px;
}

.task__item label .description {
  word-break: break-all;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}

.task__item.completed label .description {
  color: #cdcdcd;
  text-decoration: line-through;
}

.task__item-input::before {
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #e6e6e6;
}

.task__item-input {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.task__item-input {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.task__item-input:checked {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.task__item .icon:hover {
  color: #af5b5e;
}

.task__item .icon-destroy {
  right: 10px;
}

.task__item .icon-destroy:after {
  content: '×';
}

.task__item .icon {
  position: absolute;
  top: 0;
  bottom: -3px;
  width: 30px;
  height: 40px;
  font-size: 34px;
  color: #cc9a9a;
  margin: auto 0 11px;
  transition: color 0.2s ease-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  position: relative;
  margin: 0;
  padding: 6px 16px 15px;
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form.task__item {
  display: block;
  margin: 0 0 0 43px;
  width: 507px;
}